<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Parent Category
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Category Name</th>
                                    <th>Dept Name</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(item of parentCatList; track $index)
                                {
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.categoryName }}</td>
                                    <td>{{getDeptName(item.deptId)}}</td>
                                    <td class="text-center">
                                        <button
                                            class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                        <button
                                            class="btn btn-danger mx-2" (click)="deleteParentCategory(item.categoryId)">Delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Department
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for>Parent Category Name</label>
                        <input type="text" [(ngModel)]="newParentCategory.categoryName"
                            class="form-control">
                    </div>
                    <div class="col-12">
                        <label for>Department</label>
                        <select class="form-control" [(ngModel)]="newParentCategory.deptId">
                            @for (item of deptList; track $index) {
                            <option [value]="item.deptId" >{{item.deptName}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary" (click)="resetParentCategory()">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        @if(this.newParentCategory.categoryId == 0)
                        {
                            <button class="btn btn-success"
                            (click)="saveParentCategory()">Save Parent Category</button>
                        }@else {                            
                        <button class="btn btn-success"
                        (click)="updateParentCategory(this.newParentCategory)">Update Dept</button>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>